<div class="grid">
    <div class="col-12 lg:col-12">
            <p-menubar [model]="itemsMenuBar" class="w-full">
                <ng-template pTemplate="start">
                    <a href="/">
                        <img src="assets/img/libreria_icon.png" width="60px">
                    </a>
                </ng-template>
                <ng-template pTemplate="end">
                    <div class="card flex justify-content-center">
                        <p-menu #menu [model]="itemsMenuUsuario" [popup]="true"/>
                        <p-button (click)="menu.toggle($event)" [rounded]="true" label= "{{ userName }}" [text]="true" size="large" severity="info">
                            <ng-template pTemplate="icon">
                                <a href="http://gmail.com">
                                    <img [src]="profileImageUrl" class = "user-icon">
                                </a>
                            </ng-template>
                        </p-button>
                    </div>
                </ng-template>  
            </p-menubar>
    </div>
</div>
