<div class="pl-5 pr-5">
    <div class="grid">
        <div class="col-12 lg:col-6 mt-5">
            <p-floatLabel>
                <input [disabled] = "isModoVer()" class="w-full" pInputText id="titulo" [(ngModel)]="libros.titulo" />
                <label for="titulo">Título</label>
            </p-floatLabel>
        </div>  
        <div class="col-12 lg:col-6 mt-5">
            <p-floatLabel>
                <input [disabled] = "isModoVer()" class="w-full" pInputText id="edicion" [(ngModel)]="libros.edicion" />
                <label for="edicion">Edición</label>
            </p-floatLabel>
        </div>
    </div>
    
    <div class="grid">
        <div class="col-12 lg:col-6 mt-5">
            <p-floatLabel>
                <input [disabled] = "isModoVer()" class="w-full" pInputText id="paginas" [(ngModel)]="libros.paginas" />
                <label for="paginas">Páginas</label>
            </p-floatLabel>
        </div>
        <div class="col-12 lg:col-6 mt-5">
            <p-floatLabel>
                <input [disabled] = "isModoVer()" class="w-full" pInputText id="idAutor" [(ngModel)]="libros.idAutor" />
                <label for="idAutor">ID Autor</label>
            </p-floatLabel>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-6 mt-5">
            <p-floatLabel>
                <input [disabled] = "isModoVer()" class="w-full" pInputText id="idCategoria" [(ngModel)]="libros.idCategoria" />
                <label for="idCategoria">ID Categoria</label>
            </p-floatLabel>
        </div>
        <div class="col-12 lg:col-6 mt-5">
            <p-floatLabel>
                <input [disabled] = "isModoVer()" class="w-full" pInputText id="idIdioma" [(ngModel)]="libros.idIdioma" />
                <label for="idIdioma">ID Idioma</label>
            </p-floatLabel>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-12 mt-5">
            <p-floatLabel>
                <input [disabled] = "isModoVer()" class="w-full" pInputText id="idEditorial" [(ngModel)]="libros.idEditorial" />
                <label for="idEditorial">ID Editorial</label>
            </p-floatLabel>
        </div>
    </div>
</div>