<div class="pl-5 pr-5">
    <div class="grid">
        <div class="col-12 lg:col-6 mt-5">
        <p-floatLabel>
            <input [disabled] = "isModoVer()" class="w-full" pInputText id="Nombre" [(ngModel)]="editoriales.Nombre" />
            <label for="Nombre">Nombre</label>
        </p-floatLabel>  
    </div>
    <div class="col-12 lg:col-6 mt-5">
    <p-floatLabel>
        <input [disabled] = "isModoVer()" class="w-full" pInputText id="PaisOrigen" [(ngModel)]="editoriales.PaisOrigen" />
        <label for="paisOrigen">PaisOrigen</label>
    </p-floatLabel>
</div>

<div class="col-12 lg:col-6 mt-5">
    <p-floatLabel>
        <input [disabled] = "isModoVer()" class="w-full" pInputText id="CEO" [(ngModel)]="editoriales.CEO" />
        <label for="CEO">CEO</label>
    </p-floatLabel>
</div>
    </div>
</div>